name: Build Spring Maven Project

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Maven Build with Java 8
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Java 8
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: maven

      # Step 3: Build Maven project
      - name: Build with Maven
        run: mvn clean install
