name: Build & Publish Maven WAR to Nexus

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Maven Build and Nexus Publish
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout source code
        uses: actions/checkout@v4

     
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
          cache: maven

     
      - name: Build Maven project
        run: mvn clean package

      
      - name: Upload WAR to Nexus
        run: |
          mvn deploy:deploy-file \
            -Dfile=target/spring3-mvc-maven-xml-hello-world-1.0-SNAPSHOT.war \
            -DgroupId=com.mkyong \
            -DartifactId=spring3-mvc-maven-xml-hello-world \
            -Dversion=1.0-SNAPSHOT \
            -Dpackaging=war \
            -DrepositoryId=githubactions-spring3 \
            -Durl=http://18.215.176.79:8081/repository/githubactions-spring3/ \
            -Dusername=${{ secrets.NEXUS_USERNAME }} \
            -Dpassword=${{ secrets.NEXUS_PASSWORD }}
